
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to only read and write their own chat messages.
    match /chats/{chatId} {
      allow read, write, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
    match /chats/{chatId} {
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
  }
}
